/* Resetando margens e espaçamentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

:root {
  --cor-primaria: #597653; 
  --cor-secundaria: #a5bc94; 
  --cor-fundo:#ffffe9;
  --cor-botao: #597653de;
  --cor-botaohover: #51694c;
  --cor-explorarjogos: #a5bc94c0;
  --cor-texto: #000000;
}

/* Estilos gerais */
body {
  background-color: var(--cor-fundo);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: normal;
}

header {
  font-weight: normal;
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: rgb(0, 0, 0) 1px solid;
}

#logoecobrieduque {
  height: 140px;
}

#navegacao {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  justify-content: center;
  gap: 20px;
  margin-right: 5%;
  border-left: #a5bc94 1px solid;

}

.botoesNavegacao {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.botoesNavegacao a {
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 20px;
  text-align: center;
}

.imgRedes {
  height: 30px;
  margin-bottom: 5px;
}

/* Espaço principal */
#secaoInformacao {
  background-color: var(--cor-fundo);
  padding: 20px;
  text-align: center;
  flex: 1;
}



/*Cards la em baixo de Materiais reciclaveis*/
#Materiais {
  text-align: center;
  background-color: var(--cor-fundo);
  padding: 40px 20px;
  margin: 20px 0;
}

#Materiais h2 {
  font-size: 25px;
  font-weight: 300; 
  color: var(--cor-primaria); 
  margin-bottom: 10px;
}

#Materiais p {
  font-size: 16px;
  color: var(--cor-texto); 
  margin-bottom: 50px;
}

.Cardsimg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
}

.Cardsimg figcaption {
  font-size: 16px; 
  margin-top: 5px; 
  padding: 5px; 
  border-radius: 4px; 
}

.Cardsimg img {
  width: 140px; 
  height: 130px; 
  object-fit: cover; 
  border-radius: 8px; 
  transition: transform 0.3s; 
}

.Cardsimg a:hover img {
  transform: scale(1.05); 
}

figcaption {
  font-size: 16px; 
  color: var(--cor-preto);
  margin-top: 5px; 
}

.Divisoria {
  border: none; 
  height: 2px; 
  background-color: var(--cor-secundaria); 
  margin: 20px 0; 
  border-radius: 5px; 
  margin-bottom: 30px;
}

/*Rodape*/
footer {
  background-color: var(--cor-primaria);
  color: #000000;
  padding: 20px 20px;
  position: relative;
  border-top: rgb(0, 0, 0) 1px solid;
}

@keyframes garfada {
  0% {
      transform: translateY(30px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.VoltaraoTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #a5bc94;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-align: center;
  display: none; /* Esconde o botão inicialmente */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  z-index: 1000;
}

.VoltaraoTopo.show {
  display: flex; /* Exibe o botão quando a classe show é adicionada */
  opacity: 1; /* Opacidade total */
  animation: garfada 0.5s forwards; /* Aplica a animação ao aparecer */
}

.VoltaraoTopo img {
  width: 24px;
  height: 24px;
}

.VoltaraoTopo:hover {
  background-color: #486143;
  box-shadow: 0 4px 8px var(--cor-primaria);
}


.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.Rodape {
  flex: 1;
  min-width: 250px;
}

.Rodape h3 {
  margin-top: 0;
  font-size: 16px;
  border-bottom: 1px solid #a5bc94;
  padding-bottom: 5px;
  font-weight: bold;
  font-family:  Arial, sans-serif;
}

.Rodape p, .Rodape ul {
  margin: 10px 0;
  line-height: 1.6;
}

.Rodape ul {
  list-style-type: none;
  padding: 0;
}

.Rodape ul li {
  margin-bottom: 10px;
}

.Rodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.Rodape ul li a:hover {
  color: #a5bc94;
}

.RedesSociais {
  margin-top: 20px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 10px;
}

.sociais {
  display: flex; 
  align-items: center; 
}

.sociais img {
  width: 40px; 
  height: 40px; 
  transition: transform 0.3s ease, opacity 0.3s ease; 
}

.sociais img:hover {
  transform: scale(1.2); 
  opacity: 0.8;
}

.Contato {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 8px; 
  border: 1px solid #a5bc94; 
  border-radius: 6px;
  background-color: #a5bc94; 
  width: fit-content; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto; 
}

.LinkContato {
  display: flex;
  align-items: center; 
  text-decoration: none; 
  color: rgb(0, 0, 0); 
  transition: color 0.3s ease; 
}


.imgContato {
  width: 20px; 
  height: 20px;
  margin-right: 6px;
  object-fit: contain;
  transition: transform 0.3s ease; 
}


.LinkContato span {
  font-size: 12px; 
  font-weight: 400; 
  white-space: nowrap;
}


.Contato:hover {
  transform: scale(1.05); 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}


.LinkContato:hover {
  color: #486143;
}


.LinkContato:hover .imgContato {
  transform: scale(1.2); 
}

.Direitos {
  color: #a5bc94;
  margin-top: 15px;
  text-align: center;
}

.Direitos p {
  margin: 0;
  font-size: 12px;
}

.botoesNavegacao:hover {
  transform: scale(1.2);
  transform: scale(1.1); /* Aumenta o tamanho do botão ao passar o mouse */

}
#secaoInformacao{
  width: 100%;
  display:flex
}
 #secaoInformacao section{
  width: 50%;
  height: auto;
  border-radius: 10px;
  background-color: #a5bc94;
  border: #333 1px solid;
  margin: 2%;

 }

 .links {
  text-decoration: none;
  color: #000000; /* Cor padrão do texto */
  transition: color 0.3s ease; /* Transição suave para mudança de cor */
}

.links:hover h6 {
  color: #a5bc94; /* Cor do texto ao passar o mouse */
}




.button-link {
  margin-top: 10px;
  display: inline-block;
  padding: 20px 40px;
  font-size: 30px;
  color: white;
  background-color: #a5bc94;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  width: 15%;
  text-align: center;
  margin-left: 43%;
}

.button-link:hover {
  background-color: #333;
  transform: scale(1.05);
}

.button-link:active {
  background-color: #e67f73;
  transform: scale(1);
}
#jogos{
  display: inline-flex;
}

@media (max-width: 1200px) {
  #navegacao {
    gap: 10px;
  }

  .botoesNavegacao a {
    font-size: 17px;
  }

  #logoecobrieduque {
    height: 55px;
  }

  .imgRedes {
    height: 24px;
  }

  footer h5 {
    font-size: 17px;
  }

}

@media (max-width: 1024px) {
  header {
    padding: 10px;
  }

  #navegacao {
    gap: 15px;
  }

  .botoesNavegacao a {
    font-size: 16px;
  }

  #logoecobrieduque {
    height: 50px;
  }

  .imgRedes {
    height: 20px;
  }

  footer h5 {
    font-size: 16px;
  }

}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  #navegacao {
    display: none;
  }

  .botoesNavegacao a {
    font-size: 15px;
  }

  #logoecobrieduque {
    height: 45px;
  }

  .imgRedes {
    height: 20px;
  }

  footer h5 {
    font-size: 15px;
  }

}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  nav {
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
  }

  .botoesNavegacao a {
    font-size: 14px;
  }

  #logoecobrieduque {
    height: 40px;
  }

  .imgRedes {
    height: 18px;
  }

  footer h5 {
    font-size: 14px;
  }


}

@media (max-width: 360px) {
  nav {
    gap: 8px;
  }

  .botoesNavegacao a {
    font-size: 13px;
  }

  #logoecobrieduque {
    height: 35px;
  }

  .imgRedes {
    height: 16px;
  }

  footer h5 {
    font-size: 13px;
  }

 
}
