* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #EEEEE2;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.container h1 {
    font-size: 2.0em;
    color: #1b3615;
}

#img {
    width: 100px; 
    margin-bottom: 20px;
}

#cronometro, #pontos-container {
    font-size: 1.0em;
    font-weight: bold;
    margin: 10px 0;
}

#cronometro {
    color: #597653;
}

#pontos-container {
    color: #597653; 
}

#lixo-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    justify-content: center; 
    margin: 20px 0;
}

#lixo-container img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: grab;
    transition: transform 0.2s;
}

#lixo-container img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

.lixeira {
    width: 60px; /* Tamanho ajustado */
    height: 60px; /* Mantém a altura */
    margin: 2px; /* Espaçamento reduzido */
    cursor: pointer;
}

.lixeira img {
    width: 100%; /* Faz com que a imagem ocupe todo o espaço da lixeira */
    height: auto; /* Mantém a proporção da imagem */
}

.rodape {
    display: flex; /* Para alinhar as imagens em linha */
    flex-wrap: wrap; /* Permitir que as imagens quebrem para a próxima linha */
    justify-content: center; /* Centraliza as imagens no rodapé */
}

.rodape img {
    width: 123px; /* Tamanho ajustado para as imagens no rodapé */
    height: auto; /* Mantém a proporção da imagem */
}

#lixeiras {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.hidden {
    display: none;
}

#tela-final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    border: 2px solid #597653;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.point-animation {
    position: absolute;
    top: 280px; /* 50% do topo da tela */
    left: 50%; /* 50% da largura da tela */
    transform: translate(-50%, -50%); /* Centraliza em relação ao ponto 50% */
    font-size: 1.1em;
    font-weight: bold;
    color: #1b3615; /* Cor para os pontos */
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.point-animation.plus {
    transform: translateY(-30px);
    opacity: 1;
}

.point-animation.minus {
    transform: translateY(-30px);
    opacity: 1;
}
